{
    "extends": ["airbnb", "prettier"],
    "plugins": ["react", "react-hooks"],
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "globals": {
        "cast": "writable",
        "chrome": "writable"
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "max-len": [2, 120, 4, { "ignoreUrls": true }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-curly-newline": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off",
        "no-bitwise": [
            "error",
            {
                "allow": ["~"]
            }
        ]
    }
}
