.tooltip {
    background: var(--jeffflix--sidebar) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--jeffflix-white) !important;
    font-size: var(--jeffflix--font-small);
    font-weight: 600;
    opacity: 1 !important;
    padding: 1.5rem;
    text-transform: capitalize;
    
    &.tooltip-percentage {
        padding: 0.8rem 1.2rem;
        margin-top: -0.1rem;
        margin-left: 0.5rem;
    }
}


.__react_component_tooltip.type-dark {
    &.place-bottom:after {
        border-bottom-color: var(--jeffflix--sidebar) !important;
    }

    &.place-top:after {
        border-top-color: var(--jeffflix--sidebar) !important;
    }

    &.place-left:after {
        border-left-color: var(--jeffflix--sidebar) !important;
    }

    &.place-right:after {
        border-right-color: var(--jeffflix--sidebar) !important;
    }
}
