@mixin control-bar {
    .vjs-control-bar {
        height: 50px;
        padding-top: 0px;
        background: none;
        background-image: linear-gradient(0deg, var(--olaris--black), transparent);
        z-index: 12;
    }
}

@mixin progress-bar {
    .vjs-play-progress:before {
        display: none;
    }

    .vjs-progress-control {
        position: absolute;
        bottom: 5rem;
        right: 0;
        left: 0;
        width: 100%;
        height: 0.4rem;
        transition: height 0.2s;

        &:hover {
            height: 2rem;
        }
    }

    .vjs-progress-control .vjs-progress-holder {
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: rgba(255,255,255,0.2) !important;
    }

    .vjs-load-progress {
        background: none !important;
        div {
            background: rgba(0,0,0,0.12) !important;
        }
    }

    .vjs-play-progress {
        background-color: var(--olaris--primary);
    }
}

@mixin button {
    .vjs-button > .vjs-icon-placeholder:before {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@mixin disable-remaining-time {
    .vjs-remaining-time {
        display: none !important;
    }
}

@mixin time-control {
    .vjs-spacer,
    .vjs-time-control {
        display: flex;
        flex: 1 1 auto;
    }

    .vjs-time-control {
        padding: 0;
        flex: 0 1 auto;
        align-items: center;
        width: auto;
    }

    .vjs-time-control.vjs-time-divider {
        width: 14px;
    }

    .vjs-time-control.vjs-time-divider div {
        width: 100%;
        text-align: center;
    }

    .vjs-time-control.vjs-current-time {
        margin-left: 1em;
    }

    .video-js .vjs-time-control .vjs-duration-display,
    .vjs-time-control .vjs-current-time-display {
        width: 100%;
    }

    .vjs-time-control .vjs-current-time-display {
        text-align: right;
    }

    .vjs-time-control .vjs-duration-display {
        text-align: left;
    }
}

@mixin playlist-control($order, $visible: true) {
    .vjs-control.vjs-button[title="Playlist"] {
        order: $order;
        @if $visible == false {
            display: none !important;
        }

        .vjs-icon-placeholder {
            font-family: 'VideoJS';
            &:before {
                content: "\f10e";
            }
        }
    }
}

@mixin debug-control($order, $visible: true) {
    .vjs-control.vjs-button[title="Debug"] {
        order: $order;
        @if $visible == false {
            display: none !important;
        }

        // hide debug control on mobile
        @include breakpoint(xs) {
            display: none !important;
        }
    }

    .vjs-overlay-background {
        background-color: rgba(0,0,0,0.5);
        border-radius: 0.3rem;
    }

    &.show-debug-overlay {
        .vjs-debug-overlay {
            display: block;
        }
    }

    .vjs-debug-overlay {
        display: none;
        top: 7rem;
    }
}

@mixin fullscreen-control($order, $visible: true) {
    .vjs-fullscreen-control {
        order: $order;
        @if $visible == false {
            display: none !important;
        }
    }
}

@mixin picture-in-picture-control($order, $visible: true) {
    .vjs-picture-in-picture-control {
        order: $order;
        @if $visible == false {
            display: none !important;
        }
    }
}

@mixin volume-panel-control($order, $visible: true) {
    .vjs-volume-panel {
        order: $order;
        @if $visible == false {
            display: none !important;
        }
    }

    .vjs-volume-control.vjs-control.vjs-volume-vertical {
        box-shadow: 0 0 25px rgba(0,0,0,0.4);
        background-color: var(--olaris--background);
        margin-top: 10px;
        border-radius: 0.3rem;
        z-index: 99;
        visibility: hidden;
    }
}

@mixin subtitle-panel-control($order, $visible: true) {
    .vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control {
        order: $order;
        @if $visible == false {
            display: none !important;
        }
    }
}

@mixin audio-panel-control($order, $visible: true) {
    .vjs-audio-button.vjs-menu-button.vjs-menu-button-popup.vjs-control {
        order: $order;
        @if $visible == false {
            display: none !important;
        }
    }

    .vjs-volume-level {
        background-color: var(--olaris--primary) !important;
    }
}

@mixin http-source-selector-panel-control($order, $visible: true) {
    .vjs-http-source-selector.vjs-menu-button.vjs-menu-button-popup.vjs-control {
        order: $order;
        @if $visible == false {
            display: none !important;
        }
    }
}

@mixin menu-content-styling() {
    .vjs-menu-content {
        box-shadow: 0 0 25px rgba(0,0,0,0.4) !important;
        background-color: var(--olaris--background) !important;
        color: var(--olaris--light);
        border-radius: 0.3rem !important;
        z-index: 99;
        font-size: 10px;
        font-weight: 400;
        font-family: var(--olaris--font-body);
        bottom: 2.5rem !important;
    }

    .vjs-menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .vjs-menu li.vjs-selected,
    .vjs-menu li.vjs-selected:focus,
    .vjs-menu li.vjs-selected:hover {
        color: var(--olaris--primary) !important;
        background-color: unset !important;
    }

    .vjs-menu li.vjs-menu-item:focus,
    .vjs-menu li.vjs-menu-item:hover {
        opacity: 1 !important;
        background: rgba(0,0,0,0.1) !important;
    }

    // caption settings
    .vjs-modal-dialog {
        box-shadow: 0 0 25px rgba(0,0,0,0.4) !important;
        background: var(--olaris--dark) !important;
        border-radius: 0.3rem !important;
        margin: 1rem;
        width: 90%;
        font-family: var(--olaris--font-body);
        outline: 0;
    }

    .vjs-track-settings-controls button {
        font-size: var(--olaris--size-base);
        color: var(--olaris--white);
        cursor: pointer;
        line-height: 4rem;
        opacity: 1;
        padding: 0 2.5rem;
        border: none;
        border-radius: 0.3rem;
        background: var(--olaris--background);
        transition: 0.2s all;
        font-weight: 600;
        outline: 0;
        margin-bottom: 0;

        &:hover {
            background: #050609;
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0 30px 0 10px;
        max-width: unset !important;

        border: 0;
        line-height: 28px;
        height: 28px;
        background: #141520;

        margin: 0 5px 5px 0;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
        background-repeat: no-repeat;
        background-position: center right 5px;
        color: var(--olaris--light);
    }

    .vjs-text-track-settings legend {
        font-size: var(--olaris--size-small);
    }
}

@mixin playback-speeds {
    .vjs-playback-rate-value {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }    
}

@mixin title-overlay {
    .vjs-title-overlay {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.6);
        padding: 1.5rem;
        height: 6.5rem;
        transition: visibility 1s, opacity 1s;
        opacity: 1;
        visibility: visible;
        text-align: left;
        z-index: 2;

        h4 {
            font-size: var(--olaris--size-headingFour);
            font-family: var(--olaris--font-heading);
            font-weight: 800;    
        }

        span {
            font-family: var(--olaris--font-heading);
            display: block;
            width: 100%;
            font-weight: 600;
            margin-top: 0.4rem;
            font-size: var(--olaris--size-small);
        }

        &.vjs-hidden {
            display: flex !important;
        }
    }

    &.vjs-user-active, &.vjs-paused {
        .vjs-title-overlay {
            opacity: 1;
            visibility: visible;
        }
    }
    
    &.vjs-user-inactive.vjs-playing .vjs-title-overlay {
        opacity: 0;
    }    
}

@mixin playlist($zIndex: 12) {
    &.show-vjs-playlist {
        .vjs-playlist.vjs-playlist-vertical {
            transform: translateX(0px);
        }
    }

    &.vjs-video-finishing {
        .vjs-upnext-overlay {
            opacity: 0.8;
            visibility: visible;
            transition: visibility 0s linear 0s, opacity 300ms;            
        }
    }

    .vjs-up-next-text, .vjs-playlist-now-playing-text, .vjs-autoplay--play-immediately, .vjs-autoplay--cancel-autoplay {
        font-size: var(--olaris--size-root);
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
    }    

    &.vjs-video-ended {
        .vjs-autoplay-overlay {
            opacity: 1;
            visibility: visible;
            transition: visibility 0s linear 0s, opacity 300ms;            
        }
    }

    .vjs-autoplay-overlay, .vjs-upnext-overlay {
        display: flex;
        align-items: center;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        border-radius: 0.3rem;

        transition: visibility 0s linear 0.2s, opacity 0.2s;
        
        &, &:focus {
            background-color: var(--olaris--background);
        }

        &.vjs-hidden {
            display: flex !important;
        }

        h4, span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 1.2;
        }

        h4 {
            font-size: var(--olaris--size-headingFour);
        }

        span {
            font-size: var(--olaris--size-root);
            font-weight: 700;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }

    }

    .vjs-autoplay-overlay {
        opacity: 0;
        visibility: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        height: 20rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        .vjs-autoplay--text-wrap {
            width: 100%;

            > span {
                margin-bottom: 0.9rem;
                user-select: none;
    
                strong {
                    color: var(--olaris--primary);
                }
            }    

            .vjs-autoplay--up-next-info {
                h4 {
                    margin-bottom: 0.3rem;
                }
    
                span {
                    text-transform: none;
                    letter-spacing: normal;
                    font-size: var(--olaris--size-small);
                    font-weight: normal;
                }
            }            
        }

        .vjs-autoplay--button-wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .vjs-autoplay--count-down {
            user-select: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 0.3rem;
            overflow: hidden;
            z-index: -1;
        }

        button {
            position: relative;
            padding: 0 2rem;
            height: 3.6rem;
            color: #fff;
            border-radius: 0.3rem;
            transition: opacity 0.2s;
            
            &:hover {
                opacity: 0.7;
            }

            &.vjs-autoplay--cancel-autoplay {
                background-color: var(--olaris--error);
            }

            &.vjs-autoplay--play-immediately {
                // margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                background-color: rgba(255,255,255,0.1);
                
                .vjs-autoplay--play-icon {
                    display: inline-block;
                    position: relative;
                    margin-right: 0.8rem;
                    font-family: "VideoJS";
                    font-size: 2rem;
                    color: #FFF;
                    height: 100%;
                    width: 1.2rem;
                    transition: all 0.3s;
    
                    &:before {
                        position: absolute;
                        left: -6px;
                        top: 50%;
                        transform: translateY(-50%);
                        content: "\f101";
                    }
                }
            }
        }
    }

    &.vjs-last-playlist-item {
        .vjs-upnext-overlay, .vjs-autoplay-overlay {
            display: none !important;
        }
    }

    .vjs-upnext-overlay {
        text-align: left;
        padding-left: 1.5rem;
        padding-top: 1.8rem;
        left: auto;
        top: auto;
        bottom: 7rem;
        right: 0px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 40rem;
        height: 10rem;
        transition: visibility 0s linear 0.2s, opacity 0.2s;

        > span {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
        }

        &:hover {
            opacity: 1;
        }

        div {
            width: 100%;

            span {
                margin-top: 0.3rem;
                text-transform: none;
                font-weight: normal;
                font-size: var(--olaris--size-small);
            }
        }
    }

    .vjs-playlist {
        font-family: var(--olaris--font-body);

        .vjs-playlist-item {
            margin-bottom: 1rem;

            &.vjs-up-next, &.vjs-selected {
                .vjs-playlist-thumbnail {
                    padding-top: 1.2rem;
                }
            }
        }
        
        &.vjs-playlist-vertical {
            position: absolute;
            transform: translateX(40rem);
            transition: transform 0.2s;
            top: 0;
            right: 0;
            bottom: 0;
            width: 40rem;
            z-index: $zIndex;
            padding: 1rem;
            padding-bottom: 5rem;
        }

        .vjs-playlist-name {
            font-family: var(--olaris--font-heading);
            font-weight: 700;
            font-size: var(--olaris--size-base);
            line-height: 1;
            padding: 0;
        }

        .vjs-playlist-thumbnail {
            display: flex;
            padding: 0 1.5rem;
            flex-direction: column;
            justify-content: center;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.7;
            }
        }

        .vjs-playlist-now-playing-text {
            position: static;
            margin: 0;
        }

        .vjs-playlist-title-container {
            text-shadow: none;
            position: static;
            padding: 0;
        }

        .vjs-playlist-description {
            height: auto !important;
            line-height: normal !important;
            padding: 0.2rem 0 0;
            font-size: var(--olaris--size-small);
        }

        .vjs-up-next-text, .vjs-playlist-now-playing-text {
            position: absolute;
            top: 1.2rem;
            left: 1.5rem;
            padding: 0;
        }
    }
}

.vjs-theme-olaris {
    @include menu-content-styling();
    @include control-bar();
    @include progress-bar();
    @include button();
    @include disable-remaining-time();

    @include time-control();

    /**
    * All controls button mixins, these can take two args : ($order, $visible = true)
    * ---
    * @param {int} $order — order of the button
    * @param {bool} $visible — true for visible, false for hidden, true is set by default.
    */
    @include debug-control(1);
    @include playlist-control(8);
    @include http-source-selector-panel-control(2);
    @include subtitle-panel-control(3);
    @include audio-panel-control(4);
    @include volume-panel-control(5);
    @include picture-in-picture-control(6);
    @include fullscreen-control(7);
    @include playback-speeds();
    @include title-overlay();
    @include playlist();
}
