{
    "extends": ["airbnb", "prettier"],
    "plugins": ["react"],
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "rules": {
        "no-class-assign": "off",
        "no-console": "warn",
        "no-shadow": "off",
        "jsx-a11y/media-has-caption": "off",
        "linebreak-style": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "quotes": [2, "single", { "avoidEscape": true }],
        "no-bitwise": [
            "error",
            {
                "allow": ["~"]
            }
        ]
    }
}
